<a href="https://colab.research.google.com/github/Pavankumarpalaparthi/Fmmllab/blob/main/python_basics_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Declare a variable called "aid" and asign a value as your name then print the name like "Kiet"
---

In [ ]:
#write your code here

 declare a value to the valrable then print the type of value

In [ ]:
#write your code here

Write a python code using Format Method and "fstrings"

In [ ]:
#write your code here

Write a python code using .join() method

Input format:
kiet
Output format:
kkiet

In [ ]:
#write your code here

Write a python code for checking whether the person is eligible for  Vote or Not  using conditionals

In [ ]:
#write your code here

write simple codes using string methods:

In [ ]:
#any 10 methods
#write your code here

#DEBUGGING

In [ ]:
a=kiet
b=kiek
print("both {} and {} are in same campus".format())
#output should be like this
#both kiet and kiek are in same campus

NameError: ignored

In [ ]:
a="kiet"
b="kiek"
print(f"both {0} and {1} are in same campus")
#both kiet and kiek are in same campus
#correct the output

both 0 and 1 are in same campus

In [ ]:
a=5
b=12
if a==5 And b==12
  print(a,b)
# correct the code

5 12

In [ ]:
if a%2==0:
   print("a is divisible by 2")

   else:
    print("not divisible")